<footer>
  <div class="row primary">
    <div class="column about">

      <h3>CỬA HÀNG CHAY </h3>

      <p>
        Chuyên cung cấp các thực phẩm chay an toàn - sức khỏe cho mọi người đầy đủ dinh dường ,chuyên ship tận noi cho
        người tiêu dùng
      </p>

      <div class="social">
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        <i class="fa-brands fa-youtube-square"></i>
        <i class="fa-brands fa-whatsapp-square"></i>
      </div>
    </div>

    <div class="column links">
      <h3>MỘT SỐ LIÊN KẾT</h3>

      <ul>

        <li>
          <a href="signup">Đặt Hàng</a>
        </li>
        <li>
          <a href="portfolio">Xem sản phẩm</a>
        </li>
        <li>
          <a href="search">Lựa chọn sản phẩm</a>
        </li>
        <li>
          <a href="signup">Mua Hàng</a>
        </li>
      </ul>

    </div>


    <div class="column links">
      <h3>Một Số Liên Kết</h3>
      <ul>
        <li>
          <a href="#faq">Liên Hệ</a>
        </li>
        <li>
          <a href="Products">Xem Sản Phẩm</a>
        </li>
        <li>
          <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
          <a href="home">Ủng Hộ</a>
        </li>
      </ul>
    </div>

    <div class="column subscribe">
      <h3>Bản Tin</h3>
      <div>

        <div class="icon-infomation">
          <a href="https://www.facebook.com/nguyendacthem17" target="_blank"><img width="40" height="auto"
              src="assets/image/fb.svg.webp" alt="" style="background-color:center;"></a>


          <a href="https://www.facebook.com/nguyendacthem17" target="_blank"><img width="40" height="auto"
              src="assets/image/tn.jpg" alt=""></a>

          <a href="https://www.messenger.com/t/3431404750288371/" target="_blank"><img width="40" height="auto"
              src="assets/image/mes.jpg" alt=""></a>

          <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><img width="40" height="auto"
              src="assets/image/g.jpg" alt="" style="background-color:left"></a>
        </div>
        <script>
          function openGmail() {
            window.open("https://mail.google.com/mail/u/0/#search/nguyendacthem17091996%40gmail.com", "_blank");
          }
        </script>
        <input type="email" placeholder="Your email id here" />
        <button class="btn btn-outline-success" type="submit" [routerLink]="'/search'">Subscribe</button>

      </div>

    </div>

  </div>

  <div class="row copyright">
    <div class="footer-menu">

      <a href="home">Home</a>
      <a href="contact">About</a>
      <a href="portfolio">Contact</a>
      <a href="search">Blog</a>
      <a href="dashboard">Social</a>

    </div>

    <p> Copyright &copy; 2023 Foolish Developer</p>

    <p> Nguyễn Đắc Thêm @gmail,com</p>
  </div>

</footer>

<div id="messenger">

  <div class="mess-btn">
    <div><i class="fab fa-facebook-messenger"></i></div>

  </div>

  <div messenger_app_id="710950015695386" page_id="1431850056928523" data-ref="gst_index___km"
    cta_text="SEND_TO_MESSENGER" center_align="true" size="xlarge" color="blue" class="fb-send-to-messenger">
  </div>