<div>
    <div class="container">
        <div class="row">
            <div class="col-3">

                <img src="assets/image/myLogo.png" data-src="" alt="hoa" width="500px" height="500px"
                    title="nong sản  sạch">
            </div>

            <div class="col-3 mt-5" style="text-align: center;">
                <h1 class="new-font">

                    Chanh Tươi Việt Nam
                    <h2>
                        <p>Chanh vàng Mỹ hay còn gọi là chanh tây,
                            là loại hoa quả nhập khẩu từ Mỹ, có màu vàng,
                            hình bầu dục, có vị chua nhẹ và mùi thơm rất đặc trưng.
                            Chanh vàng vị chua dịu nhưng lại thơm hơn rất nhiều so với chanh ta.</p>
                    </h2>
                </h1>
                <li>
                    <a href="">Đặt Hàng</a>
                    <h4>
                        30.000đ-50.000đ
                    </h4>

                    <div class="d-flex flex-row">
                        <div class="p-2" (click)="plusCount()">
                            <img src="assets/image/cc.jpg" data-src="" alt="" width="40px" height="40px">
                        </div>
                        <div class="p-3">
                            <span>{{count}}</span>
                        </div>
                        <div class="p-2" (click)="Count()">
                            <img src="assets/image/tru.jpg" data-src="" alt="" width="40px" height="40px">
                        </div>

                    </div>

                    <div class="button-container">
                        <button routerLink="/signup" class="btn btn-success  ">
                            Mua Ngay
                        </button>
                        <button routerLink="/portfolio" class="btn btn-success ">
                            Thêm Vào Giỏ Hàng
                        </button>
                    </div>
                    <a href="/dashboard">Thêm Vào Sách Danh </a>
            </div>

            <div class="col-3 margin-right">

                <img src="assets/image/healthy-3.png" data-src="" alt="hoa" width="500px" height="500px"
                    title="nong sản  sạch">

            </div>
            <div class="col-3 mt-5" style="text-align:center">

                <h1 class="new-font">các mặt hàng bán chạy</h1>

                <div class="flex-container">
                    <div class="rowa">
                        <div class="" style="width: 50%;height:auto;font-size:20px;">
                            <img src="assets/image/chuối.jpg" data-src="" alt="hoa" width="auto" height="50%"
                                title="nong sản  sạch">

                            <h5 class="new-font">Chuối</h5>
                            <a href="">đặt hàng </a>
                            <h5>30.000đ</h5>

                        </div>
                        <div class="" style="width: 50%;height:auto;font-size:20px;">
                            <img src="assets/image/sale-2.jpg" data-src="" alt="hoa" width="auto" height="50%"
                                title="nong sản  sạch">

                            <h5 class="new-font">Dưa leo</h5>
                            <a href="/signup">đặt hàng </a>
                            <h5>30.000đ</h5>

                        </div>
                    </div>
                    <div class="rowa">
                        <div class="" style="width: 50%;height:auto;font-size:20px;">
                            <img src="assets/image/safe-4.jpg" data-src="" alt="hoa" width="auto" height="50%"
                                title="nong sản  sạch">

                            <h5 class="new-font">Khoai tây việt</h5>
                            <a href="">đặt hàng </a>
                            <h5>30.000đ</h5>

                        </div>
                        <div class="" style="width: 50%;height:auto;font-size:20px;">
                            <img src="assets/image/sale-3.jpg" data-src="" alt="hoa" width="auto" height="50%"
                                title="nong sản  sạch">

                            <h5 class="new-font">Lơ Tím</h5>
                            <a href="">đặt hàng </a>
                            <h5>30.000đ</h5>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>