<div class="parent-card" style="text-align: center;" >
  <div class="card" style="width: 18rem;">
    <img src="assets/image/healthy-1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Dâu</h5>
      <p class="card-text" style="text-align:center;">Giá:20000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/image/healthy-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Nhãn</h5>
      <p class="card-text" style="text-align:center;">Giá:20000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/image/healthy-3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Rau Củ Qủa</h5>
      <p class="card-text" style="text-align:center;">Giá:20000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/image/táo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Táo</h5>
      <p class="card-text" style="text-align:center;">Giá:20000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/image/chuối.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Chuối</h5>
      <p class="card-text" style="text-align:center;">Giá:200.000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="assets/image/cai-bo-xoi.jpg" class="card-img-top" alt="Nho">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">Cải</h5>
      <p class="card-text" style="text-align:center;">Giá:200.000Đ</p>
      <a href="signup" class="btn btn-success">Đặt Hàng</a>
    </div>
  </div>
</div>  