<div class="row">
    <div class="col-4">
<div class="products">
    <ul class="list-group">
        <li class="list-group-item product-item" *ngFor="let item of productCarts; index as i;">
            
         Name:   {{item.name}}   -  Price: {{item.price}}  - Soluong:{{item.soluong}}
        </li>
      </ul>
      <table class="table table-dark table-striped-columns">
        <thead>
          <tr>
            <th scope="col">Ten san pham</th>
            <th scope="col">Gia</th>
            <th scope="col">So Luong</th>
            <th scope="col">Thanh Tien</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of productCarts" >
            <td> {{ item.name |uppercase }}</td>
            <td> {{item.price }} VNĐ</td>
            <td> {{item.quantity }} </td>
            <td> {{item.price * item.quantity  }} </td>
        </tr>

        <tr >
          <td colspan="3"> Tổng Tiền:</td>
          <td> {{tongdoluong()}} VNĐ</td>
          </tr>
          <tr> 
            <td colspan="2"> </td>
            <td colspan="2"> <a class="btn btn-warning w-100" href="thanhtoan">Thanh toán</a> </td>
           </tr>
        </tbody>
      </table>
</div>