.card{
    border: none;
    width: 500px;
    height: auto;
    padding: 40px;
    position: absolute;
    left: 40%;
    top: -19%;
    
    transform: translate(-50%,50%);
    background:#006600 !important;
    background: linear-gradient(90deg, rgb(41, 112, 43)0%,rgb(65, 118, 83)100%);
}
.card label h1,
h6{
    color: #fff;
}
label {
    color: #fff;
}